<head>
</head>
<body>
  <div class="row even"> 
    <div class="col-lg-3 col-md-3 left-side">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <h1>Are you losing admission to Harvard because your tutor cannot teach effectively?</h1>
      <p>Your private tutor has an Ivy league degree. <br>
        But are your test scores or English improving as much as they should be?<br>
        Is your progress measured and the lessons designed specifically for you?<br>
        Wouldn’t your chance to attend an elite school be greater if your tutor attended an elite school AND has proven professional experience teaching non-native English speakers?
      </p>
    </div>
    <div class="col-lg-3 col-md-3 right-side">
    </div>
  </div>
  <div class="row odd"> 
    <div class="col-md-3 left-side">
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
        <h2>Eleven Education combines elite university experience with proven effective, data-driven instruction</h2>
        <p>I’ll use my instructional system based on years of experience helping non-native English language learners reach at least 2 grade levels ahead. Every subject: English, vocabulary, history is made of smaller, measurable components.<br><br>

        Imagine an experienced teacher targeting each component and focusing on your exact weaknesses using proven teaching methods. Each week, we’ll measure your progress and you’ll see proof of rapid improvement in the data.
        </p>
    </div>
    <div class="col-md-3 right-side">
    </div>
  </div>
  <div class="row even"> 
      <div class="col-lg-3 col-md-3 left-side">
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <h2>Who is Eleven Education for?</h2>
          <p>
            Eleven Education is for serious students seeking a highly effective teacher with experience applying to top schools. We believe that with hard work, anything is possible. This program is not for the lazy or uninterested. If you follow our instruction, we guarantee improvement or your money back.
            <br><br>
            <%= image_tag('sat-scores.png', alt: 'jasons-sat', size: "460x370") %><br>
           <span style="font-style: oblique;">Source: College Board</span>
          </p>
      </div>
      <div class="col-lg-3 col-md-3 right-side">
      </div>
  </div>
  <div class="row odd"> 
    <div class="col-md-3 left-side">
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <h3>“At first I was uncertain that Eleven Education would be worth the the price...</h3>
      <p>
        I’ve seen cheaper tutors available who offer the same services. After trying one month with Jason, I regret wasting my time with other tutors. Jason’s experience as a teacher shows in his techniques I haven’t seen from other tutors. Jason is the only teacher I’ve seen with a data-driven system of teaching and the strong academic credentials to back it up. Every week, I have proof that I am actually improving! <br><br>
    
        After seeing my improvement, I can only say this: If you aren’t using Jason currently, you should be, because next year he’s going to be twice as expensive!"
      </p>
    </div>
    <div class="col-md-3 right-side">
    </div>
  </div>
  <div class="row even"> 
    <div class="col-md-3 left-side">
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <h3>“Usually I find tutors hit and miss. Often, I don’t learn anything I couldn’t learn myself or don’t learn anything at all...</h3>
      <p>
        Sometimes the learning materials is good, but the teacher doesn't explain it in a way that makes sense. Jason really knows what it takes to learn English vocabulary and writing because he is an American-born English speaker and attended a top US university. He explained it in a way that Chinese teacher cannot.
        <br><br>
        Jason didn't just give me the answer, he taught me how to derive it myself. He breaks down everything and guides me through a way of thinking I can use for any problem.
        <br><br>
        I was confident in knowing that if I didn't find the lessons useful, I could get a full refund with no problem."
      </p>
    </div>
    <div class="col-md-3 right-side">
    </div>
  </div>
  <div class="row odd"> 
    <div class="col-md-3 left-side">
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <h2>Services We Offer</h2>
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
           <span class="fa fa-4x fa-commenting-o"></span><br>
           Spoken English language (all levels)
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
          <span class="fa fa-4x fa-language"></span><br>
          English Vocabulary (all levels)
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
          <span class="fa fa-4x fa-pencil"></span><br>
          English Writing (all levels)
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
          <span class="fa fa-4x fa-book"></span><br>
          English Reading (all levels)
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
          <span class="fa fa-4x fa-flag"></span><br>
           AP U.S. History
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
          <span class="fa fa-4x fa-globe"></span><br>
          AP European History
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
          <span class="fa fa-4x fa-balance-scale"></span><br>
          AP Government
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
          <span class="fa fa-4x fa-file-text"></span><br>
          AP English literature
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
           <span class="fa fa-4x fa-graduation-cap"></span><br>
           SAT Test Preparation
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
          <span class="fa fa-4x fa-money"></span><br>
          Scholarship Application and Essay Development
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
          <span class="fa fa-4x fa-handshake-o"></span><br>
          Social Skills in America: Making Friends
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 ">
          <span class="fa fa-4x fa-institution"></span><br>
          Personal Statement and Essay Development
        </div>
      </div>
      </p>
    </div>
    <div class="col-md-3 right-side">
    </div>
  </div>
  <div class="row even"> 
    <div class="col-md-3 left-side">
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <h3>“If you suspect that your tutor doesn’t have the experience or skills of writing an effective personal statement or essay development, you need to hire Jason....</h3>
      <p>
        I know my even with high SAT scores and a high GPA, I could not get into my dream school if my personal statement is not unique or good enough. I need to make sure that the help I get comes from a person who has proof that he is a excellent writer. 
        <br><br>

        <%= image_tag('jason-phi-beta-kappa-scholarship.png', alt: 'jason-phi-beta-kappa-scholarship', size: "320x520")%><br>
        <span style="font-style: oblique;">Source: http://www.pbkcleveland.org/scholarships-awards/2009-scholarship.php</span>
        

        <br><br>Jason has won multiple prestigious scholarships and a full ride to an elite college based on his writing ability. I’ve seen proof of his scholarship awards, high GPA, and high SAT scores so I feel confident trusting him to help me every part of my application."
      </p>
    </div>
    <div class="col-md-3 right-side">
    </div>
  </div>
  <div class="row odd"> 
    <div class="col-md-3 left-side">
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <h3>“Jason is one of the few teachers I’ve met that truly cares about my success. He holds me accountable to the work and messages me back quickly when I have questions...</h3>
      <p>
        I was impressed with how quick Jason responds to my questions. He texts me often to make sure I was doing the work every day and understood the material.<br><br>

        I specifically liked how Jason motivated me to work my hardest. I was happy to study hard because Jason is a positive person that makes me feel happy when I’m studying.<br><br>

        I’d just like to add that I feel very good about the decision to go with Jason. I’ve learned a lot and continue to do so everyday."
      </p>
    </div>
    <div class="col-md-3 right-side">
    </div>
  </div>
  <div class="row even"> 
    <div class="col-md-3 left-side">
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <h2>Our No-Risk Guarantee</h2>
      <p>
        Buying our lessons comes with no risk. If you ever want your money back for any reason, we want you to have it back.<br><br>
        <i class="fa fa-dollar fa-5x"></i> <i class="fa fa-cny fa-5x"></i><br><br>
        If you didn't learn anything...<br>
        If you didn't get into the school you wanted to...<br>
        If you just don't think the lessons were worth it...<br>
        Email our CEO, Jason, to get a full refund.
        <br><br>
        We only want to keep your money if you think we really earned it.
      </p>
    </div>
    <div class="col-md-3 right-side">
    </div>
  </div>
  <div class="row odd"> 
    <div class="col-md-3 left-side">
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <h2>How does it work?</h2>
      <p>
        In-person and Skype sessions available. Book an hour of private tutoring with Jason instantly for $80 USD. Please make sure the times you want are available: <br><br> 
        <!-- Calendly inline widget begin -->
        <div class="calendly-inline-widget" data-url="https://calendly.com/jasonkwong11/tutoring-session" style="min-width:320px;height:580px;"></div>
        <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
        <!-- Calendly inline widget end -->
        <br><br>
         After scheduling an hour, please pay with Credit/Debit card or Alipay for each hour. <br><br><span style="font-weight: bold">You can pay in CNY with Alipay.</span> 
        <br>

        <a href="/charges/new" style="background-color: #FFFFFF; color: #5BC0DE; font-size: 18px; font-weight: bold;" >Pay $80 with Credit Card<br>
          <%= image_tag('credit-card-logos.png', alt: 'credit-card', size: "80x80")%>
        </a>

        <a href="/alipay" style="background-color: #FFFFFF; color: #5BC0DE; font-size: 18px; font-weight: bold;">Pay $80 with Alipay<br>
          <%= image_tag('alipay-logo.png', alt: 'alipay', size: "80x80") %>
        </a>
      </p>
    </div>
    <div class="col-md-3 right-side">
    </div>
  </div>
  <div class="row even"> 
    <div class="col-md-3 left-side">
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <h2>Questions?</h2>
        <%= image_tag('jason.png', alt: 'jason-head-shot', size: "190x190") %><br>
          <h4 style="color:white;">Contact Jason</h4>
          <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="color:white;">
              <i class="fa fa-2x fa-wechat"></i><br>
              WeChat ID: jasonkwong11
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="color:white;">
              <i class="fa fa-2x fa-skype"></i><br>
              Skype ID: jasonkwong11
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="color:white;">
              <i class="fa fa-2x fa-envelope"></i><br>
              Email: jason.d.kwong@gmail.com
            </div>
          </div>
        </p>
    </div>
    <div class="col-md-3 right-side">
    </div>
  </div>
</body>
<%= stripe_javascript_tag %>

